doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap')
    link(rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css")
  body
    != yield
    script(src="./scripts.js")