.theme-switch-wrapper {
  // flex: 1;
  z-index: 999;
  position: absolute;
  right: 1vw;
  top: 1vw;
  display: flex;
  align-items: center;
  margin: auto;

  em {
    padding: 10px;
    color: var(--golden);
    font-size: 2em;
  }

  // @media (min-width: 300px){
  //   em {
  //     font-size: 5em;
  //   }
  // }

  // @media (min-width: 850px){
  //   em {
  //     font-size: 3em;
  //   }
  // }
}
.theme-switch {
  display: inline-block;
  height: 40px;
  position: relative;
  width: 75px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--golden);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--font-color);
  bottom: 5px;
  content: "";
  height: 30px;
  left: 5px;
  position: absolute;
  transition: .4s;
  width: 30px;
}

input:checked + .slider {
  background-color: var(--golden);
}

input:checked + .slider:before {
  transform: translateX(26px);
  left:12px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* media queries */

@media only screen and (max-width: 1000px) and (max-height: 800px) and (orientation: portrait) {
  .theme-switch-wrapper {
    transform: scale(2);
    position: unset;
    padding-top: 18px;
  }
}

/* landscape mobile */
@media screen and (min-width: 200px) and (max-width: 1000px) and (orientation: landscape) {
  .theme-switch-wrapper {
    position: absolute;
    top: unset;
    bottom: 1vw;
  }
}