header
  .theme-switch-wrapper
    em #[i.lni.lni-sun]
    label.theme-switch(for="checkbox")
          input#checkbox(type="checkbox")
          div.slider.round
    em #[i.lni.lni-night]
  .personal-info
    h1.my-name #[span RAMON #[br] RAUPP]
    //- h3.my-title #[span full-stack #[br] developer]
    h3.my-title full-stack developer

//- .content
//-   h3.stuff stuff I work with
//-   .all-tech
//-     .tech #[i.lni.lni-javascript]
//-     .tech #[i.lni.lni-angular]
//-     .tech #[i.lni.lni-react]
//-     .tech #[i.lni.lni-html5]
//-     .tech #[i.lni.lni-nodejs]
//-     .tech #[i.lni.lni-css3]
//-     .tech #[i.lni.lni-php]
//-     .tech #[i.lni.lni-docker]
//-     .tech #[i.lni.lni-database]


.footer 
  div.mail-info 
    a.mail(href="mailto:ramonrooliveira@gmail.com") #[span.color-link mail me] #[span.holla ✌️]
    .contact
      p.small ramonrooliveira@gmail.com
      span.small CV in #[a.color-link.small-link(href="https://drive.google.com/file/d/14_0me_LXHKWSCiB_IWdpwp0ZeU-GTWMg/view?usp=sharing" target="_blank" rel="noopener") english] • #[a.color-link.small-link(href="https://drive.google.com/open?id=1gcgwt8FlXrHHDfJko_Zah-Ck-61vJ7ma" target="_blank" rel="noopener") pt-br]
  .social
    a.social-links(href="https://github.com/ramonrooliveira" target="_blank" rel="noopener") #[i.lni.lni-github]
    a.social-links(href="https://linkedin.com/in/ramon-raupp/" target="_blank" rel="noopener") #[i.lni.lni-linkedin]
    a.social-links(href="https://instagram.com/rauppmon" target="_blank" rel="noopener") #[i.lni.lni-instagram]